.table {
  min-height: 100vh;
  padding-bottom: 30px;
}

.tabsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1.5px #EFE9E7 solid;
}

.tilesContainer {
  display: flex;
  width: 100vw;
  max-width: 1400px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.dashboardTab {
  height: 45px;
  background-color: #EFE9E7;
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 2px 2px 0px 2px;
  font-size: 16px;
  /* NOTE: look at grey color and make hex */
  color: grey;
  cursor: pointer;
  box-shadow: 0 1px 1 rgba(30, 30, 32, 0.9) inset, 0 8px 16px rgba(0, 0, 0, 0.8);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.todayTab {
  margin-left: 15px;
}
