img {
    width: 700px;
    border: 1px solid #CF5300;
    padding: 10px;
    box-shadow: 3px 5px rgba(0, 0, 0, .2);
}

h3 {
    padding-left: 40px;
    font-weight: bold;
}

.instructionsHR {
    margin: 40px 120px
}

.instructionsMain {
    color: #EFE9E7;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.profileInstructions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.indexInstructions {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.dashboardInstructions {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.instructionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboardInstructionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}


.profileInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.indexInstructionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.instructionsParagraph {
    padding-left: 40px;
    padding-right: 60px;
    font-size: 18px;
    max-width: 40vw;
}

.gettingStarted {
    display: flex;
    flex-wrap: wrap;
}


@media (max-width: 1300px) {
    img {
        width: 500px;
    }

    .instructionsVertImg {
        height: 220px;
    }

    .instructionsMain {
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 1300px) {
    img {
        width: 500px;
    }

    .instructionsMain {
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 943px) {
    .instructionsParagraph {
        max-width: 80vw;
    }

}
